<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background: #3b5998">
  <div class="container">
    <a class="navbar-brand" href="{% url 'posts:index' %}" style="color: white"><h4>Evangelion</h4></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Переключатель навигации">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'users:profile' request.user.username %}" style="color: white">Профиль</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'users:follow' %}" style="color: white">Избранное</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'users:profile_posts' user.username%}" style="color: white">Мои посты</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'posts:post_create' %}" style="color: white">Новый пост</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'posts:group_create' %}" style="color: white">Создать группу</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'posts:groups_list' %}" style="color: white">Группы</a>
        </li>
        {% if not request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'users:signup' %}" style="color: white">Зарегистрироваться</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'users:login' %}" style="color: white">Войти</a>
        </li>
        {% endif %}
        {% if request.user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white">
            {{ user.username }}
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'users:password_reset_form'%}">Восстановить пароль</a></li>
            <li><a class="dropdown-item" href="{% url 'users:password_change_form' %}">Изменить пароль</a></li>
            <li><a class="dropdown-item" href="{% url 'users:profile_delete' user.username %}">Удалить аккаунт</a></li>
            <li><a class="dropdown-item" href="{% url 'users:logout' %}">Выйти</a></li>
          </ul>
        </li>
        {% endif %}
      </ul>
      <form class="d-flex" role="search" action="{% url 'posts:search' %}">
        <input class="form-control me-2" type="search" placeholder="Поиск по постам" aria-label="Поиск" name="search">
        <button class="btn btn-outline-light" type="submit">Поиск</button>
      </form>
    </div>
  </div>
</nav>